*{
    margin: 0;
    padding: 0;
    /* box-sizing: border-box; */
}
body{
    background-color: black;
}
.pad{
    padding: 70px 0;
    letter-spacing: 2px;
}
.slideshow{
    width: 75%;
    height: 700px;
    left: 50%;
    top: 100px;
    transform: translate(-50%,-50%);
    position: relative;
    overflow: hidden;
    margin-top: 243px;
    margin-left: 1%;
    border-radius: 15px;
    box-shadow: 10px 0 56px white;
}

.slideshow-item{
    width: 100%;
    height: 700px;
    position: absolute;
    opacity: 0;
    animation: cycleImages 50s infinite;
}

.slideshow-item img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    animation: zoom 50s infinite;
}

.slideshow-item:nth-child(1),
.slideshow-item:nth-child(1) img{
    animation-delay: 0s;
}
.slideshow-item:nth-child(2),
.slideshow-item:nth-child(2) img{
    animation-delay: 5s;
}
.slideshow-item:nth-child(3),
.slideshow-item:nth-child(3) img{
    animation-delay: 10s;
}
.slideshow-item:nth-child(4),
.slideshow-item:nth-child(4) img{
    animation-delay: 15s;
}
.slideshow-item:nth-child(5),
.slideshow-item:nth-child(5) img{
    animation-delay: 20s;
}
.slideshow-item:nth-child(6),
.slideshow-item:nth-child(6) img{
    animation-delay: 25s;
}
.slideshow-item:nth-child(7),
.slideshow-item:nth-child(7) img{
    animation-delay: 30s;
}
.slideshow-item:nth-child(8),
.slideshow-item:nth-child(8) img{
    animation-delay: 35s;
}
.slideshow-item:nth-child(9),
.slideshow-item:nth-child(9) img{
    animation-delay: 40s;
}
.slideshow-item:nth-child(10),
.slideshow-item:nth-child(10) img{
    animation-delay: 45s;
}

.slideshow-item-text{

    max-width: 50%;
    position: absolute;
    top: 50%;
    left: 0;
    transform: translateY(-50%);
    background-color: rgba(0,0,0,0.6);
    color: white;
    padding: 20px 24px;
}
.slideshow-item-text h5{
    font-size: 300%;
    font-family: 'Raleway' ,sans-serif;
    text-transform: uppercase;
    letter-spacing: 3px;
    margin-bottom: 18px;
    font-weight: 150;
}

.slideshow-item-text p{
    font-size:100%;
    font-family: 'Roboto' ,sans-serif;
    letter-spacing: 1px;
}

@keyframes cycleImages {
    0%{
        opacity: 0;
    }
    10%{
         opacity: 1;
    }
    20%{
        opacity: 0;
    }
    30%{
        opacity: 1;
    }
    40%{
    opacity: 0;
    }
    50%{
    opacity: 1;
    }
    60%{
        opacity: 0;
    } 
    70%{
        opacity: 1;
    } 
    80%{
        opacity: 0;
    } 
    90%{
        opacity: 1;
    } 
    100%{
        opacity:1;
    }
}

@keyframes zoom {
    100%{
        transform: scale(1.3);
    }
}

@media screen and (max-width:1000px)
{
    .slideshow-item-text{

        max-width: 70%;
        padding: 50px 10px;
    }
    .slideshow-item-text h5{
        font-size: 200%;
    }
    .slideshow{
        margin-top: 236px;
    }
    .pad{
        font-size: 75%;
        padding: 42px
    }
}

@media screen and (max-width:767px){

    .slideshow-item-text{

        max-width: 100%;
        padding: 10px 22px;
        top: initial;
        bottom: 0;
        transform: initial;
    }
    .slideshow-item-text h5{
        font-size: 150%;
    }
    .slideshow-item-text p{
        font-size: 100%;
    }
    .pad{
        font-size: 50%;
        padding: 30px
    }
}